<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.qa.testcases.DashboardPageTest"/>
      <!-- <class name="com.qa.testcases.AboutPageTest"/>
      <class name="com.qa.testcases.QAPageTest"/>
      <class name="com.qa.testcases.ContactPageTest"/>
      <class name="com.qa.testcases.NewsFeedPageTest"/>
      <class name="com.qa.pages.test.DashboardPage"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
